body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #5BBE42;
    text-decoration: center;
}

.center{
    text-align: center;
}

h1{
    color: #5BBE42;
}

footer img{
    width: 20px;
    height: 20px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin: 2px;
}

.container{
    padding: 0px 50px;
}

nav a:hover{
    color: #5BBE42;
}

.contacto-form input{
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
}

.contacto-form input[type=text]{
    height: 100px;
}

button{
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}

h{
    align-items: center;
}