*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

.texto{
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;

    background: linear-gradient(45deg, #00E3CC, #ff0000, #009688, #44E3D3);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    outline: none;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}